@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Rowdies&display=swap');
:root{
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
}
*, * * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
}
